<!--главная страница сайта, отображает все объявления (список)-->

{% extends 'static/default.html' %}

{% block title %} Все объявления {% endblock title %}

{% block content %}
Все объявления

{% for post in posts %}
<br>
<br>
<!-- При нажатии на имя нас теперь будет перекидывать на страницу самого товара -->
<br>
<h6>{{ post.title }}, {{ post.cont|safe  }}, {{ post.cont_up|safe }}</h6>
<h3><a href="{% url 'detail' post.id %}"><u>{{ post }}</u></a></h3>

<br>
<hr>
<hr>

{% endfor %}


{% endblock content %}
