<!--страница подробностей объявления-->

{% extends 'static/default.html' %}

{% block title %} Подробности объявления - {{ note.title }} {% endblock title %}

{% block content %}
<br>
<h3>Подробности объявления</h3>
<br>
<br>
-= {{ note.title }} =-
<br>
<hr>
<br>
{{ note.content|safe  }}
<br>
<br>
- объявление №{{ note.pk }}; автор: {{ note.user }}; категория: {{ note.category }}; дата создания: {{ note.dateCreation }} -
<br>
<br>
<a href="{% url 'edit' note.id %}"><u>Редактировать</u></a>
<a href="{% url 'delete' note.id %}"><u>Удалить</u></a>
<br>
<br>
<br>
<br>
<hr>
{% endblock content %}
