<!--страница подробностей объявления-->

{% extends 'static/default.html' %}

{% block title %} Подробности объявления - {{ note.title }} {% endblock title %}

{% block content %}<br>

<h3>Подробности объявления</h3><br>

-= {{ note.title }} =-<br>
<hr>
{{ note.content | safe }}<br><br>

- объявление №{{ note.pk }}; автор: {{ note.user }}; категория: {{ note.category }}; дата создания: {{ note.dateCreation }} -<br><br>


{% if edit_delete %}
<a href="{% url 'edit' note.id %}"><u>Редактировать</u></a>
<a href="{% url 'delete' note.id %}"><u>Удалить</u></a><br><br><br>
{% endif %}


{% if message_response %}
<h6>Ваш отклик отправлен успешно</h6><br>
{% endif %}


{% if pole_response %}
<h6>Введите ваши контакты</h6><br>
<form method="POST">
    {% csrf_token %}
    {{ form.content }}
    <input type="submit" value="Оставить отклик">
</form><br><br>
{% endif %}



<hr>
{% endblock content %}
