<!--страница подробностей объявления-->

{% extends 'static/default.html' %}

{% block title %} Подробности объявления - {{ note.title }} {% endblock title %}

{% block content %}<br>

<h3>Подробности объявления</h3><br><br>

-= {{ note.title }} =-<br>
<hr>
{{ note.content | safe }}<br><br>

- объявление №{{ note.pk }}; автор: {{ note.user }}; категория: {{ note.category }}; дата создания: {{ note.dateCreation }} -<br><br>

<a href="{% url 'edit' note.id %}"><u>Редактировать</u></a>
<a href="{% url 'delete' note.id %}"><u>Удалить</u></a><br><br><br>

<h6>Форма добавления отклика</h6><br>


<form method="POST">
    {% csrf_token %}
    {{ form.content }}
    <input type="submit" value="Оставить отклик">
</form><br><br>




<hr>
{% endblock content %}


<hr>
{% if is_not_subscribe %}
<button><a href="add_subscribe/?pk={{ post.category.id }}">Подписка</a></button>
{% endif %}

{% if is_subscribe %}
<button><a href="del_subscribe/?pk={{ post.category.id }}">Отписка</a></button>
{% endif %}