<!--страница редактирование объявления-->

{% extends 'static/default.html' %}

{% block title %} Редактировать объявление {% endblock title %}



{% block content %}
<br>

<hr>
<br>
{{ post.title }}, {{ post.cont|safe  }}, {{ post.cont_up|safe }}
<br>
<br>
- объявление №{{ post.pk }}; автор: {{ post.user }}; категория: {{ post.category }}; дата создания: {{ post.dateCreation }} -
<br>
<br>


<hr>
<br>
Редактировать объявление
<br>
<br>

<form align="left" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Сохранить изменения">
</form>

<br>
<br>
<br>
<br>
<br>
{% endblock content %}
