<!--страница подробностей объявления-->

{% extends 'static/default.html' %}

{% block title %} Подробности объявления - {{ post.title }} {% endblock title %}

{% block content %}
<br>
<br>
Подробности объявления
<br>
<br>
-= {{ post.title }} =-
<br>
<hr>
<br>
{{ post.title }}, {{ post.cont|safe  }}, {{ post.cont_up|safe }}
<br>
<br>
- объявление №{{ post.pk }}; автор: {{ post.user }}; категория: {{ post.category }}; дата создания: {{ post.dateCreation }} -
<br>
<br>
<a href="{% url 'edit' post.id %}"><u>Редактировать</u></a>
<a href="{% url 'delete' post.id %}"><u>Удалить</u></a>
<br>
<br>
<br>
<br>
<hr>
{% endblock content %}
